<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="display-4">Welcome to TicketApp</h1>
      <p class="lead">
        Your Destination for Concert Tickets
      </p>
      <p>
        Experience the thrill of live music and entertainment with TicketApp. Discover, purchase, and enjoy tickets to your favorite concerts and events.
      </p>
      <p>
        No account required. Easy ticket retrieval by name. Unforgettable experiences await you.
      </p>
      <hr>
      <h3>Key Features</h3>
      <ul class="list-group">
        <li class="list-group-item">Explore and buy tickets for top events.</li>
        <li class="list-group-item">No sign-up required for quick purchases.</li>
        <li class="list-group-item">Effortless ticket retrieval with your name.</li>
        <li class="list-group-item">Admin tools for event management.</li>
        <li class="list-group-item">Stay updated with the latest events.</li>
      </ul>
      <hr>
      <h3>Technologies Used</h3>
      <p>
        TicketApp is powered by modern technologies to provide with a seamless ticket buying experience:
      </p>
      <ul class="list-group">
        <li class="list-group-item">Frontend: Angular</li>
        <li class="list-group-item">Frontend Framework: Bootstrap</li>
        <li class="list-group-item">Backend: ASP.NET</li>
        <li class="list-group-item">Database: PostgreSQL</li>
      </ul>

    </div>
  </div>
</div>
