
<div class="container">
  <h2>Upcoming Events</h2>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let event of events">
      <div class="card">
        <img [src]="event.eventImage" class="img-limit">
        <div class="card-body">
          <h5 class="card-title"> {{event.eventTitle}}</h5>
          <p class="event-dates">
            {{event.eventStartDate | date}}-{{event.eventEndDate| date}}
          </p>
          <p class="card-text">Price: ${{event.eventPrice}}</p>
          <button class="btn btn-primary btn-block event-button" routerLink="{{event.id}}">Buy Ticket</button>
        </div>
      </div>
    </div>
    <p *ngIf="events.length==0">No events currently</p>
  </div>
</div>


